<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cypher Marketing</title>
    <environment names="development">
        <link asp-href-include="~/css/*.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Navigation")
        @RenderBody()
    </div>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            RenderSection("Footer", false);
        }
        else
        {
            <p>&copy; 2016 Cypher Marketing<span class="pull-right">Contact Help Desk at 555-555-1342</span></p>
        }
    </footer>
    <environment names="development">
        <script asp-src-exclude="~/js/jquery.validate.js" asp-src-include="~/js/*.js"></script>
        <script>
            $(document).ready(function () {
                $('.vote-up').click(function (e) {
                        e.preventDefault();
                        var id = $(this).data('productid')
                        $.post('/home/vote', { id: id }, function (data) {
                            $('#surveyWidget').html(data);
                        })
                    })
                })
        </script>
    </environment>
</body>
</html>
